kafka:
  brokers:
    - "localhost:9092"
  group_id: "my-consumer-group"
  client_id: "gin-app"
  enable_sasl: false
  sasl_mechanism: "PLAIN"
  sasl_username: ""
  sasl_password: ""
  enable_tls: false
  tls_cert_file: ""
  tls_key_file: ""
  tls_ca_file: ""

