redis:
  addr: "localhost:6379"
  password: ""  # Leave empty if no password
  db: 0
  pool_size: 10
  min_idle_conns: 5
  dial_timeout: 5  # in seconds
  read_timeout: 3  # in seconds
  write_timeout: 3 # in seconds

